# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

pokemon = pd.read_csv("pokemon.csv")

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import datasetimport pandas as pd
import numpy as np

pokemon = pd.read_csv("pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |


#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [11]:
pokemon['Type 1'].isna().sum()

0

In [7]:
pokemon['Type 2'].isna().sum()

386

In [8]:
pokemon['Type 2']=pokemon['Type 2'].fillna("no_dual_type")

In [9]:
pokemon['Type 2'].isna().sum()

0

In [52]:

#Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.
#array_values_unique = pokemon[['Type 1', 'Type 2']].unique()

# value_type1 = pokeman.iloc[:,2].values
# value_type1 
# value_type1 =pokemon ['Type 1']


array_values_unique = pokemon[['Type 1', 'Type 2']].stack().unique()
array_values_unique

array(['Grass', 'Poison', 'Fire', 'Electric', 'Water'], dtype=object)

In [80]:
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame)
data = {'Type 1': ["Grass", "Fire", "Electric", "Water"],
    'Type 2': ["Poison", None, None, "Flying"]}

pokemon = pd.DataFrame(data)

In [78]:
# Extract values from 'Type 1' and 'Type 2'
type1_values = pokemon['Type 1'].unique()
type2_values = pokemon['Type 2'].unique()

# Combine both arrays and get distinct values
distinct_values = list(set(type1_values) | set(type2_values))

print("Distinct Type values across 'Type 1' and 'Type 2':")
print(distinct_values)

Distinct Type values across 'Type 1' and 'Type 2':
['Poison', 'Flying', 'Grass', 'Water', 'Fire', None, 'Electric']

In [18]:
#### Cleanup `Name` that contain "Mega".

#If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".


# Sample DataFrame
data = {'Name': ["VenusaurMega Venusaur", "CharizardMega Charizard X", "Pikachu", "BlastoiseMega Blastoise"]}
pokemon = pd.DataFrame(data)

# Define a function to clean the names
def clean_pokemon_name(name):
    # Use regular expressions to remove duplicate "Mega" prefixes
    cleaned_name = re.sub(r'(.+)(Mega \1)', r'Mega \1', name)
    return cleaned_name

# Apply the function to the 'Name' column
pokemon['Name'] = pokemon['Name'].apply(clean_pokemon_name)

# Display the cleaned DataFrame
print(pokemon)

               Name
0     Mega Venusaur
1  Mega Charizard X
2           Pikachu
3    Mega Blastoise

In [19]:
# your code here


# test transformed data
pokemon.head(10)

               Name
0     Mega Venusaur
1  Mega Charizard X
2           Pikachu
3    Mega Blastoise

#### Create a new column called `A/D Ratio` whose value equals to `Attack` divided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [20]:

# Sample DataFrame
data = {
    'Name': ["Venusaur", "Charizard", "Pikachu", "Blastoise"],
    'Attack': [49, 84, 55, 83],
    'Defense': [49, 78, 40, 100]
}

pokemon = pd.DataFrame(data)

# Create the 'A/D Ratio' column
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

# Display the DataFrame with the new column
print(pokemon)

        Name  Attack  Defense  A/D Ratio
0   Venusaur      49       49   1.000000
1  Charizard      84       78   1.076923
2    Pikachu      55       40   1.375000
3  Blastoise      83      100   0.830000

#### Identify the pokemon with the highest `A/D Ratio`.

In [21]:
# Assuming you already have a DataFrame named 'pokemon' with the 'A/D Ratio' column

# Sort the DataFrame by 'A/D Ratio' in descending order
pokemon_sorted = pokemon.sort_values(by='A/D Ratio', ascending=False)

# Select the top row with the highest A/D Ratio
pokemon_highest_ad_ratio = pokemon_sorted.iloc[0]

print("Pokemon with the highest A/D Ratio:")
print(pokemon_highest_ad_ratio)

Pokemon with the highest A/D Ratio:
Name         Pikachu
Attack            55
Defense           40
A/D Ratio      1.375
Name: 2, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [22]:
# Assuming you already have a DataFrame named 'pokemon' with the 'A/D Ratio' column

# Sort the DataFrame by 'A/D Ratio' in ascending order
pokemon_sorted = pokemon.sort_values(by='A/D Ratio')

# Select the top row with the lowest A/D Ratio
pokemon_lowest_ad_ratio = pokemon_sorted.iloc[0]

print("Pokemon with the lowest A/D Ratio:")
print(pokemon_lowest_ad_ratio)

Pokemon with the lowest A/D Ratio:
Name         Blastoise
Attack              83
Defense            100
A/D Ratio         0.83
Name: 3, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [24]:

# Sample DataFrame
data = {
    'Name': ["Bulbasaur", "Charizard", "Pikachu", "Blastoise"],
    'Type 1': ["Grass", "Fire", "Electric", "Water"],
    'Type 2': ["Poison", None, None, None]  # Use None for missing values
}

pokemon = pd.DataFrame(data)

# Function to create Combo Type
def create_combo_type(row):
    type1 = row['Type 1']
    type2 = row['Type 2']
    
    if pd.notna(type1) and pd.notna(type2):
        return f"{type1}-{type2}"
    else:
        return type1

# Apply the function to create the 'Combo Type' column
pokemon['Combo Type'] = pokemon.apply(create_combo_type, axis=1)

# Display the DataFrame with the new 'Combo Type' column
print(pokemon)

        Name    Type 1  Type 2    Combo Type
0  Bulbasaur     Grass  Poison  Grass-Poison
1  Charizard      Fire    None          Fire
2    Pikachu  Electric    None      Electric
3  Blastoise     Water    None         Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [87]:
# Assuming you already have a DataFrame named 'pokemon' with the 'A/D Ratio' column

# Sort the DataFrame by 'A/D Ratio' in descending order
#pokemon_sorted = pokemon.sort_values(by='A/D Ratio', ascending=False)

# Select the top 5 rows with the highest A/D Ratios
top_5_pokemon = pokemon_sorted.head(5)

top_5_pokemon 

#print("Pokemon with A/D Ratios among the top 5:")
print(top_5_pokemon)

        Name  Attack  Defense  A/D Ratio
3  Blastoise      83      100   0.830000
0   Venusaur      49       49   1.000000
1  Charizard      84       78   1.076923
2    Pikachu      55       40   1.375000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [92]:
top_pokemon_ad_ration = pokemon['A/D Ratio'].sort_values(ascending=False).head(5)
top_pokemon_ad_ration

combo_list = []
    for i in top_pokemon_ad_ration.index:
    if pokemon['Combo Type'][i] not in combo_list:
        
combo_list.append(pokemon['Combo Type'][i])

combo_list

IndentationError: unexpected indent (316419150.py, line 5)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [59]:
# Create the 'Combo Type' column by combining 'Type 1' and 'Type 2' values
pokemon['Combo Type'] = pokemon['Type 1'] + '-' + pokemon['Type 2'].fillna('')
pokemon['Combo Type']

# Now you have the 'Combo Type' column.

0    Grass-Poison
1           Fire-
2       Electric-
3    Water-Flying
Name: Combo Type, dtype: object

In [61]:

# Group the data by 'Combo Type' and calculate the mean for numeric fields
mean_scores_by_combo_type = pokemon.groupby('Combo Type').mean()
mean_scores_by_combo_type

# Display the mean scores for each Combo Type
#print(mean_scores_by_combo_type)

C:\Users\User\AppData\Local\Temp\ipykernel_9120\2220235363.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  mean_scores_by_combo_type = pokemon.groupby('Combo Type').mean()

Empty DataFrame
Columns: []
Index: [Electric-, Fire-, Grass-Poison, Water-Flying]

In [63]:
# your code here
# Group the data by 'Combo Type' and calculate the mean for numeric fields
mean_scores_by_combo_type = pokemon.groupby('Combo Type').mean()
mean_scores_by_combo_type 


# Display the mean scores for each Combo Type
print(mean_scores_by_combo_type)

Empty DataFrame
Columns: []
Index: [Electric-, Fire-, Grass-Poison, Water-Flying]

C:\Users\User\AppData\Local\Temp\ipykernel_9120\2885331860.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  mean_scores_by_combo_type = pokemon.groupby('Combo Type').mean()